main {
	height:  80vh;
	background-color: orange;
	padding: 3px;
}

#user-menu{
	background-color: blue;
	height: 80vh;
	overflow: auto;
}

#messages {
	background-color: red;
	height: 300px;
	overflow: auto;
}

#chat {
	background-color: white;
}

#rooms {
	background-color: brown;
	height: 50px;
}
#input-field{
	background-color: green;
	height: 50px;
}

#ads{
	background-color: magenta;
	height: 100px;
	position: absolute;
}