.image-container {
	position: relative;
}

.image-tools {
	position: absolute;
	bottom:20px;
}

.tool-item {
	display: inline;
	margin-left: 5px;
}

.file-path {
	visibility: none;
}

/*#portrait {
	width: 300px;
}*/
#messages {
	height: 300px;
	overflow-y: scroll; 
}