{{set . "title" "Чат"}}
{{template "header.html" .}}
{{template "common_hat.html" .}}

<main>
	<div class="row">
		<div class="col l3 s12 m4 l3">
			Тут будут тулы для создания чатов
		</div>
		<div class="collection col l6 s12 m8">
		{{range $key, $value := .rooms}}
			<a class="collection-item room" href="/chat/{{$key.Hex}}">{{$value}}<span class="new badge">2</span></a> 
		{{end}}
		</div>
		<div class="col l3">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem eum sequi totam, blanditiis architecto veniam nostrum nisi adipisci dolorem neque placeat ex praesentium perferendis, accusamus libero esse qui, magni optio.
		</div>
	</div>
</main>
{{template "footer.html" .}}
