{{set . "title" "Чат"}}
{{template "header.html" .}}
{{template "common_hat.html" .}}

<main ng-app="chat">
	<div class="row" ng-controller="ChatMessages">
		<div class="col l3 s12 m4">
			<div class="card-panel blue"><span class="white-text">{{.room.Name}}</span></div>
		</div>
		<div class="chat col l6 s12 m8">
			<div id="messages" class="row">
				<div class="col l12 s2">
					<div id="anchor[[msg.hash]]" class="row" ng-repeat="msg in messages">
						<div class="col s12 l12">
					        <div class="row message-wrapper">
					            <div class="col s1 l1">
					     	       <img src="[[msg.User.Avatar]]" class="circle" width="40" /> <!-- class="circle" notice the "circle" class -->
					            </div>
						        <div class="col s11 l11">
						        	<div class="row message-wrapper">
						        		<div class="col s12 l10">
						        			<a ng-href="[[msg.User.Url]]" ng-bind="msg.User.Name"></a>
						        		</div>
						        		<div class="col s0 l2">
						        			<span ng-bind="msg.Datestr"></span>
						        		</div>
						        	</div>
						            <span class="black-text"ng-bind="msg.Text"></span>
						        </div>
						    </div>
						</div>
					</div>
				</div>
			</div>
			<div id="input-message" class="row">
		 		<div class="input-field col l10 s12">
		 			<i class="material-icons prefix">mode_edit</i>
		 		    <textarea id="message" class="materialize-textarea" ng-model="newMessage"></textarea>
		 		    <label for="message">Введите сообщение</label> 
		 		</div>
		 		<div class="col l2 s12">
		 			<a id="send" class="btn waves-effect waves-light" ng-click="send()">Отправить</a>
		 		</div>
			</div>
		</div>
		<div class="col l3 s12">
			<div class="card-panel blue">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique eum praesentium quos atque quibusdam porro provident minus cumque optio reprehenderit? Aliquid ipsum consectetur at velit odio earum qui corporis et.</div>
		</div>
	</div>
</main>
{{template "chat_footer.html" .}}
