	{{set . "title" "Home"}}
	{{template "header.html" .}}
	{{template "common_hat.html" .}}
	{{$user := .user}}

	<main>
		<div class="row">
			<div class="col s12 l12">
				<form action="#">
					<div class="container">
						<div class="col s12 l4">
							<h5 id="login">{{.user.AccountLogin}}</h5>
						</div>
						<div class="col s12 l4">
							<h5>Пол</h5>
							{{range .sexes}}
							<input name="sex" type="radio" id={{.Name}} value={{.Name}} {{if eq .Name $user.Sex.Name }}checked{{end}} />
							<label for={{.Name}} >{{.Caption}}</label>
							<br>
							{{end}}
						</div>
						<div class="col s12 l4">
							<h5>Позиционирование</h5>
							{{range .positions}}
							<input name="position" type="radio" id={{.Name}} value={{.Name}} {{if eq .Name $user.Position.Name}} checked {{end}} />
							<label for={{.Name}} >{{.Caption}}</label>
							<br>
							{{end}}
						</div>
						<div class="divider col s12 l7"></div>
						<div class="col s12 l6">
							<h5>Дата рождения</h5>
							<input type="date" class="datepicker" value={{.user.PickerBirthDate}}>	<!-- {{.user.DateOfBirth}} -->
						</div>
						<div class="col s12 l12">
							<h5>Показывать в результатах поиска для знакомств?</h5>
							<div class="switch">
								<label>
								 Нет
							  <input type="checkbox" checked={{.user.ShowInSearch}}>
								  <span class="lever"></span>
								  Да
								</label>
							</div>
						</div>
						<div class="file-field input-field col s12 l6">
							<input class="file-path validate col s12 l10" type="text"/>
							<div class="btn col s12 l2">
								<span>avatar</span>
								<input type="file" />
							</div>
						</div>
					</div>
				</form>
			</div>
	</main>

{{template "footer.html" .}}