	<main>
		<div class="row">
			<div class="col s12 l12">
				<form action="#">
					<div class="container">
						<div class="col s12 l4">
							<h5>Пол</h5>
							<input name="sex" type="radio" id="radio_man" value="0"/>
							<label for="radio_man">Мужчина</label>
							<br>
							<input name="sex" type="radio" id="radio_woman" value="1"/>
							<label for="radio_woman">Женщина</label>
							<br>
							<input name="sex" type="radio" id="radio_trans" value="2" />
							<label for="radio_trans">Транс</label>
						</div>
						<div class="col s12 l4">
							<h5>Позиционирование</h5>
							<input name="position" type="radio" id="radio_top" value="0" />
							<label for="radio_top">Топ</label>
							<br>
							<input name="position" type="radio" id="radio_bottom" value="1" />
							<label for="radio_bottom">Боттом</label>
							<br>
							<input name="position" type="radio" id="radio_switch" value="2" />
							<label for="radio_switch">Свитч</label>
						</div>
						<div class="divider col s12 l7"></div>
						<div class="col s12 l6">
							<h5>Дата рождения</h5>
							<input type="date" class="datepicker">	
						</div>
						<div class="col s12 l12">
							<h5>Показывать в результатах поиска для знакомств?</h5>
							<div class="switch">
								<label>
								 Нет
								  <input type="checkbox">
								  <span class="lever"></span>
								  Да
								</label>
							</div>
						</div>
						<div class="file-field input-field col s12 l6">
							<input class="file-path validate col s12 l10" type="text"/>
							<div class="btn col s12 l2">
								<span>avatar</span>
								<input type="file" />
							</div>
						</div>
					</div>
				</form>
			</div>
	</main>
