{{set . "title" "Home"}}
{{template "header.html" .}}
{{template "common_hat.html" .}}

	<main>
		<div class="row">
			<div class="col S12 l3">
				<div class="row">
					<div class="col s12 l12">
						<img src="{{.user.Avatar}}" alt="">
					</div>
				</div>
				<div class="row">
					<div class="col l6 s12">
						<a class="btn-floating btn-large waves-effect waves-light red" href="/user/{{.user.AccountLogin}}/edit">
							<i class="large material-icons">mode_edit</i>
						</a>
					</div>
					<!-- <div class="col l6 s12">
						<a href="#">Еще какая то ссылка</a>
					</div> -->
				</div>
			</div>
			<div class="col s12 l9">
				<h4>{{.user.VisibleName}}</h4>
				<span class="indigo lighten-4">{{.user.Status}}</span>
				<p>{{.user.Sex.Caption}}</p>
				<p>{{.user.Position.Caption}}</p>
				<p>{{.user.DateOfBirth}}</p>
				<hr>
				<div class="card-panel indigo lighten-4 hoverable">{{.user.Interest}}</div>
				<div class="card-panel indigo lighten-4 hoverable">{{.user.About}}</div>
			</div>
		</div>
	</main>

{{template "footer.html" .}}