{{set . "title" "Home"}}
{{template "header.html" .}}
{{template "common_hat.html" .}}

<main class="main-container">
	<div class="row">
		<div id="user-menu" class="col s12 l3">
		</div><!--user-menu-->
					  
	 	<div class="col l9 s12" id="chat">
	 		<div class="row">
	 		 	<div id="rooms" class="col s12 l12">
	 			</div> <!--rooms-->
	 		</div>
			<div class="row">
		  		<div id="messages" class="col s12 l12">
		  		</div> <!--messages-->
			</div>
	  		<div class="row">
		 		 <div id="input-field" class="col l12 s12">
		 	 	</div><!--input-field-->
			</div>
		</div><!--chat-->
  	</div>
</main>

{{template "chat_footer.html" .}}
