<header>
	<nav>
		<div class="nav-wrapper">
			<a href="#!" class="brand-logo right">Dirty chat</a>
	    	<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
			
			<ul id="nav-mobile" class="left hide-on-med-and-down">
				<li>
					<a href="/user/me" data-method="get" class="tooltipped" data-position="right" data-delay="50" data-tooltip="Мой профиль"><i class="tiny material-icons">perm_identity</i></a></li>
				<li>
					<a href="/chat" data-method="get" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Чат"><i class="tiny material-icons">chat</i></a></li>
				<li>
					<a href="/communities" data-method="get" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Сообщества"><i class="tiny material-icons">supervisor_account</i></a></li>
				<li>
					<a href="/feedback" data-method="get" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Написать нам"><i class="tiny material-icons">hearing</i></a></li>
				<li>
					<a href="{{url "Session.Drop"}}" data-method="post" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Выйти"><i class="tiny material-icons">power_settings_new</i></a></li>
			</ul>
			<ul class="side-nav" id="mobile-demo">
				<li>
					<a href="/user/me" data-method="get" class="tooltipped" data-position="right" data-delay="50">Мой профиль</a>
				</li>
				<li>
					<a href="/chat" data-method="get" class="tooltipped" data-position="bottom" data-delay="50">Чат</a></li>
				<li>
					<a href="/communities" data-method="get" class="tooltipped" data-position="bottom" data-delay="50">Сообщества</a></li>
				<li>
					<a href="/feedback" data-method="get" class="tooltipped" data-position="bottom" data-delay="50"><i class="tiny material-icons">hearing</i>Написать нам</a></li>
				<li>
					<a href="{{url "Session.Drop"}}" data-method="post" class="tooltipped" data-position="bottom" data-delay="50"><i class="tiny material-icons">power_settings_new</i>Выйти</a></li>
			</ul>
		</div>
	</nav>
</header>
		{{template "flash.html" .}}
