<!DOCTYPE html>

<html>
  <head>
    <title>{{.title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="msapplication-tap-highlight" content="no"/>
    <meta name="csrf-token" content="{{.csrf_token}}">
    <meta name="csrf-param" content="csrf_token">
    
    <link rel="stylesheet" type="text/css" href="/public/css/materialize.css">
    <link rel="stylesheet" href="/public/css/croppie.css" />
    <link rel="stylesheet" href="/public/css/chat.css" />
    <link rel="shortcut icon" type="image/png" href="/public/img/favicon.ico">
    {{range .moreStyles}}
      <link rel="stylesheet" type="text/css" href="/public/css/{{.}}">
    {{end}}
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!-- <link href="http://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css"/> -->
  </head>
  <body>
